@import url('https://cdnfonts.com');

body {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #F0EAD6;
    font-family: 'Product Sans', sans-serif;
    text-align: center;
    color: #332421;
}

.calendar {
    justify-self: center;
    height: auto;
    width: 60%;
    background-color: white;
    border-style: solid;
    border-color: #332421;
    border-width: 3px;
    border-radius: 15px;
    padding:3%;
    margin: 3%;
}
