@import url('https://cdnfonts.com');

body {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #F0EAD6;
    font-family: 'Product Sans', sans-serif;
    text-align: center;
    color: #332421;
}

section {
    justify-self: center;
    height: auto;
    width: 80%;
    background-color: white;
    border-style: solid;
    border-color: #332421;
    border-width: 2px;
    border-radius: 2%;
    padding:5%;
}

iframe {
    border-radius: 2%;
}
